fastapi[standard]
uvicorn
python-dotenv
langchain
langsmith
langchainhub
langchain_community
langchain-huggingface
langchain-google-genai
chromadb
faiss-cpu
sentence-transformers
sqlalchemy 
psycopg2-binary 
redis
boto3